body {
    background-color: rgb(70, 67, 67);
}

a {
    text-decoration: none;
    color: white;
}

#container {
    background-color: #11578B;
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 400px;
    background-color: black;
    color: white;
    padding: 10px;
}

#header h1 {
  
    color: white;
    font-family: 'Anton', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 30px;
}

#content {
    width: 900px;
    margin-top: 100px;
}

#nav {
    text-align: center;
    width: 160px;
    float: left;
    padding: 15px;
    height: 440px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px;
}

#main   {
    width: 610px;
    height: 470px;
    margin-left: 300px;
    background-color:white;
    padding: 20px;
}



#nav h3 {
    color: white;
}

#main h1, h3{
    color: rgb(52, 118, 192);
}
img {
    height: 35px;
    width: 100px;
}


.selected {
    background-color: #022F57;
    margin: 0 50px;
}

span {
    color: 	#A7986F;
}